<!--<div class="panel panel-default">-->
  <!--<div class="panel-body">-->
    <!---->
  <!--</div>-->
<!--</div>-->
<style>
    .scrollit
    {
        overflow-y:scroll;
        height:300px;
    }
</style>
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Property Palet</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>
          <div class="scrollit">
              <table class="table table-bordered">
                  <tr ng-if="property.readable" ng-repeat="property in PRC.propertyDetails.properties">
                      <td>{{property.propertyName}}</td>
                      <!--<td><input class="form-control" type="text" ng-model="property.propertyValue"/></td>-->
                      <td>
                          <tea-input
                                  tea-input-type="{{property.propertyType}}"
                                  tea-input-list="property.validValues"
                                  ng-model="property.propertyValue"
                                  ng-disabled="!property.writable"
                                  />
                      </td>

                  </tr>
              </table>
          </div>
      </td>
  </tr>
    <!--<tr ng-if="property.readable" ng-repeat="property in PRC.propertyDetails.properties">
      <td>{{property.propertyName}}</td>
      <!--<td><input class="form-control" type="text" ng-model="property.propertyValue"/></td>-->
      <!--<td>
        <tea-input
        tea-input-type="{{property.propertyType}}"
        tea-input-list="property.validValues"
        ng-model="property.propertyValue"
        ng-disabled="!property.writable"
        />
      </td>

    </tr>-->

    <tfoot>
    <tr>
  <td colspan="2">
    <button class="btn btn-info">Apply</button>
    <button class="btn btn-info">Revert</button>
  </td>
</tr>
  </tfoot>
  </tbody>
</table>
