<div class="panel panel-default">
  <div class="panel-body">

    <div class="panel panel-info" ng-repeat="(page,scenarios) in PC.pages">
      <div ng-click="PC.clickOnPanelHeading(scenarios)" class="panel-heading">
        {{page}}
      </div>
      <div  ng-init="scenarios.show = !!scenarios.show;" ng-show="!!scenarios.show" class="panel-body">
        <ul class="list-group">
          <li class="list-group-item text-center" ng-repeat="scenario in scenarios"
              dnd-draggable="scenario"
              dnd-type="'scenario'"
              dnd-effect-allowed="copy"
            >
            <img ng-src="{{scenario.icon}}" alt="{{scenario.altText}}"  style="height: 60px;"/>
            <p>{{scenario.name}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
