<div class="panel panel-default">
  <div class="panel-body">
    <ul ng-show="VC.showSenarioList" class="list-group"
        dnd-list="VC.viewDetail.viewList"
        dnd-allowed-types="VC.viewDetail.allowedTypes"
        dnd-drop="VC.dropCallback(event, index, item, external, type)"
        style="min-height: 300px;"
      >
      <li class="list-group-item list-group-item-ex-pad" ng-repeat="senario in VC.viewDetail.viewList"
          dnd-type="senario.type"
          ng-click="VC.clickOnElement(senario.id,senario.editableProperties)"
          ng-dblclick="VC.clickOnSelectSenario(senario)"
        >
        <div class="li-header-btns pull-right">
          <a title="Pre Senario" ><i class="glyphicon glyphicon-arrow-left"></i></a>
          <a title="Save Senario" ><i class="glyphicon glyphicon-floppy-save"></i></a>
          <a title="Remove Senario" ng-click="VC.clickOnRemoveFormList(VC.viewDetail.viewList,$index)"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
        {{senario.name}}
        <div class="li-footer-btns pull-right">
          <a title="Post Senario" ng-click="VC.clickOnPostSenario()"><i class="glyphicon glyphicon-arrow-right"></i></a>
        </div>
      </li>
    </ul>
    <div class="panel panel-default" ng-show="VC.showTestcaseList">
      <div class="panel-heading">
        <h3 ng-show="!VC.showStepList">{{VC.selectedSenario.name}}</h3>
        <h5 ng-show="VC.showStepList">{{VC.selectedSenario.name}}</h5>
        <h3 ng-show="VC.showStepList">{{VC.selectedTestCase.name}}</h3>
        <div class="box-header-btns pull-right">
          <a title="Pre Senario" ><i class="glyphicon glyphicon-arrow-left"></i></a>
          <a title="Save Senario" ><i class="glyphicon glyphicon-floppy-save"></i></a>
          <a title="Remove Senario" ng-click="VC.clickOnRemoveSenario()"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group" ng-show="!VC.showStepList"
            dnd-list="VC.selectedSenario.testCases"
            dnd-allowed-types="['test']"
            dnd-drop="VC.dropCallback(event, index, item, external, type)"
            style="min-height: 200px;"
          >
          <li class="list-group-item list-group-item-ex-pad" ng-repeat="testCase in VC.selectedSenario.testCaseList"
              ng-click="VC.clickOnElement(testcase.id,testCase.property)"
              ng-dblclick="VC.clickOnSelectTestCase(testCase)"
            >

                <div class="li-header-btns pull-right">
                  <a title="Pre Senario" ><i class="glyphicon glyphicon-arrow-left"></i></a>
                  <a title="Save Senario" ><i class="glyphicon glyphicon-floppy-save"></i></a>
                  <a title="Remove Senario" ng-click="VC.clickOnRemoveFormList(VC.selectedSenario.testCaseList,$index)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                {{testCase.name}}

              <div class="li-footer-btns pull-right">
                <a title="Post Senario" ng-click="VC.clickOnPostSenario()"><i class="glyphicon glyphicon-arrow-right"></i></a>
              </div>
          </li>
        </ul>
        <ul class="list-group" ng-show="VC.showStepList"
            dnd-list="VC.selectedTestCase.Steps"
            dnd-allowed-types="['step']"
            dnd-drop="VC.dropCallback(event, index, item, external, type)"
            style="min-height: 200px;"
          >
          <li class="list-group-item list-group-item list-group-item-ex-pad" ng-repeat="step in VC.selectedTestCase.Steps"
              ng-click="VC.clickOnElement(step.id,step.property)"
            >
            <div class="li-header-btns pull-right">
              <a title="Pre Senario" ><i class="glyphicon glyphicon-arrow-left"></i></a>
              <a title="Save Senario" ><i class="glyphicon glyphicon-floppy-save"></i></a>
              <a title="Remove Senario" ng-click="VC.clickOnRemoveFormList(VC.selectedTestCase.Steps,$index)"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            {{step.name}}
            <div class="li-footer-btns pull-right">
              <a title="Post Senario" ng-click="VC.clickOnPostSenario()"><i class="glyphicon glyphicon-arrow-right"></i></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="box-footer-btns pull-right">
          <a title="Post Senario" ng-click="VC.clickOnPostSenario()"><i class="glyphicon glyphicon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
