<!--<div class="panel panel-default">-->
  <!--<div class="panel-body">-->
    <!---->
  <!--</div>-->
<!--</div>-->
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Property Palet</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="property.readable" ng-repeat="property in PRC.propertyDetails.properties">
      <td>{{property.propertyName}}</td>
      <!--<td><input class="form-control" type="text" ng-model="property.propertyValue"/></td>-->
      <td><tea-input
        tea-input-type="{{property.propertyType}}"
        tea-input-list="property.validValues"
        ng-model="property.propertyValue"
        ng-disabled="!property.writable"
        /></td>

    </tr>
    <tr>
      <td colspan="2">
        <button class="btn btn-info">Apply</button>
        <button class="btn btn-info">Revert</button>
      </td>
    </tr>
  </tbody>
</table>
